*{margin:0;padding:0; box-sizing: border-box;}
nav {
	background-color: red;
	text-align: right;
	padding: 10px;
	
}
nav a{
	background-color: green;
	color: #FFFFFF;
	text-decoration: none;
	padding:10px; 
	border: 2px solid black;
}
header{
	background-color: blue;
	padding:20px;
}
body{
	background-color:#cccccc;
	font-family: Courier, Arial, serif;
	line-height: 1.5;

		}
h1{
	color:#00FF00;
	background:yellow;
	font-family: Arial, sans-serif;
	font-style: italics
	text-decoration: underline;
	text-align: center;
}