*{margin:0;
	padding:0;
	box-sizing:border-box;
}	
body{
	font-size: 16px;
	}
nav{
	/*background-color:#ccc;*/
	text-align: right;
	float:right;
	}
nav a{
	background-color:inherit;
	color:#fff;
	font-size: 1.2em;
	text-align: center;
	text-decoration: none;
	font-style:bold;
	padding:10px;
	margin:.5em 15px;
	}	
nav a:hover{
	background-color:#5D7671;
}
#splash{
	background-image:url('../images/image03.jpg');
	background-size:cover;
	background-repeat: no-repeat;
	color:#fff;
	height:75vh;
	/*padding-top: 10em;*/
	text-align: center;
}
#splash div:nth-of-type(2){
	background-color:#382D2A;
	/*display:inline-block;*/
	padding:2em;
	width:500px;
	margin: 7em auto;
	clear:both;
}
.clearfix:after{
	display:block;
	content:" ";
	clear:both;
	font-size:0;
	visibility:0;
	height:0;
}
#one{
	text-align: center;
	width:500px;
	margin:0 auto;
}
.column{
	background-color: #EDF0EA;
	width:330px;
	height:300px;
	padding: 100px;
	margin:20px 40px;
	float:left;
	text-align: center;
	font-weight: 700;
}
#background{
	margin:0 40px;

}
.bullets{
	width:330px;
	margin:20px 30px;
	padding:10px;
	float:left;

}
#fun{
	margin:20px 40px;
	clear:both;
	}
.photos{
	float:left;
	padding:20px;
	margin: 0 75px;
}

footer{
	padding:20px;
	background-color:#EDF0EA;
	text-align: center;
	clear:both;
}