
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Gudea);
* { margin:0; padding:0; box-sizing:border-box; }
body{
	font-size: 16px;
	font-family: 'Gudea', sans-serif;
	font-color: #3B352E;
}

header{
		background-color: #126358;
		padding: 20px;
		text-align: right;
		height: 10vh;
		margin-bottom: 0;
	}
#slogan{
	font-style: italic;
	text-align: left;
	margin-right: 0;
}
#splash{
	background-image: url('../images/heroimage.JPG');
	background-size: cover;
	background-repeat:no-repeat;
	color:#fff;
	height:75vh;
	padding-top:10em;
	margin-top: 0;
	text-align: center
	}
#splash div {
	background:#126358;
	display:inline-block; /* ask John about this in unit 5 */
	padding:2em;
}
footer{
	background-color: #126358;
	padding: 20;
	text-align: center;
}
nav a{
	color: #FFFFFF;
	align: center;
	margin-right: 20px;
}
h1,h2{
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
}
section{
	text-align: center;
	padding: 2em 4em;
	margin: 2em auto;	
}
.quote{
	font-style: italic;
}
#image1{
	box-sizing: 200;
}